# Gemini
GEMINI_API_KEY=YOUR_API_KEY
MODEL_NAME=models/gemini-3.1-flash-lite

# Retrieval
# Choose one:
# retriever_dense
# retriever_bm25
# retriever_hybrid
# retriever_cross_encoder
# retriever_hybrid_cross_encoder
RETRIEVAL_STRATEGY=retriever_hybrid_cross_encoder

# Groq
GROQ_API_KEY=YOUR_API_KEY
GROQ_MODEL=openai/gpt-oss-20b

# Cross-encoder reranking
CROSS_ENCODER_MODEL=cross-encoder/ms-marco-MiniLM-L-6-v2